@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

:root {
  --WhiteColor: #fff;
  --blackColor: #1a1a1a;
  --textColor: 1a1a1a;
  --secondaryColor: #87CEEB;
  --thirdColor: #71CEE3;
  --maxWidth: 1200px;
  --blackColor2: #191D21;
  --darkpurple: #241d41;
}

.fade-left,
.fade-right,
.fadein,
.fadeout {
  opacity: 0;
}

.fade-left._appear,
.fade-right._appear,
.fadein._appear,
.fadeout._appear {
  transform: none;
  opacity: 1;
  transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
}

.fade-left._appear:nth-child(2n+1),
.fade-right._appear:nth-child(2n+1),
.fadein._appear:nth-child(2n+1),
.fadeout._appear:nth-child(2n+1) {
  transition-delay: 40ms;
}

.fade-left {
  transform: translateX(-100%);
}

.fade-right {
  transform: translateX(100%);
}

.fadein {
  transform: translateY(50px);
}

.fadeout {
  transform: translateY(-50px);
}


body {
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  transition: filter 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.blur {
  filter: blur(5px);

}

.colorChanger {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 1000000000000000;
  display: none;
}

body:has(.blur) .colorChanger {
  display: flex;
}

.colorChanger .main {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}



.colorChanger .main p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--blackColor);
  text-transform: uppercase;
}

.colorChanger.hidden {
  display: none;
}

.colorChanger .close {
  font-size: 1rem !important;
  opacity: .5;
  position: absolute;
  top: 24px;
  right: 20px;
  cursor: pointer;
}

.colorChanger .colors {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dark-colors {
  display: flex;
  gap: 10px;
}

.colorChanger .colors .dark {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.colorChanger .colors .light {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.colorChanger .colors span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #333;
  cursor: pointer;
}

.name {
  display: flex;
  flex-direction: column;
}

.mode {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
}

.mode .light {
  text-decoration: none;
  color: var(--WhiteColor);
  padding: 10px;
  background-color: var(--secondaryColor);
  border-radius: 10px;
  font-weight: bold;
}

.mode .dark {
  text-decoration: none;
  color: var(--WhiteColor);
  padding: 10px;
  background-color: var(--blackColor);
  border-radius: 10px;
  font-weight: bold;
}


canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.hidden {
  display: none;
}



.circle.yel {
  box-shadow: inset 0 0 30px 0 var(--WhiteColor), inset 20px 0 30px #ffd400, inset -20px 0 30px red, inset 20px 0 300px #ff40d6, inset -20px 0 300px #e3ff4b, 0 0 50px var(--WhiteColor), -10px 0 100px #fbff00, 10px 0 80px #f55;
}

.circle {
  opacity: 1;
  box-shadow: inset 0 0 30px var(--WhiteColor), inset 20px 0 30px #d7d938, inset -20px 0 30px #ff3407, inset 4px 7px 300px #ff0c00, inset -20px 0 300px #feff88, 0 0 50px var(--WhiteColor), -10px 0 80px #f0f, 10px 0 80px #0ff;
  position: absolute;
  top: 33%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--WhiteColor);
  animation: smoothMove 2s ease-in-out infinite alternate;
  z-index: 1;
}

@keyframes smoothMove {
  0% {
    transform: translateY(-50px);
  }


  100% {
    transform: translateY(100px);
  }
}

.fixed {
  background-color: #1a191d;
}

section {
  width: 100%;
}

section article {
  min-height: 100vh;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  overflow: hidden;
  padding-inline: 20px;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  padding-inline: 20px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s, height 0.3s;
  z-index: 10000000000000000000;
  height: 100px;
  background-color: var(--blackColor);
}



.header.fixed {
  background-color: var(--blackColor2);
  height: 70px;
}


.header article {

  display: flex;
  flex-direction: row;
  gap: 200px;
  padding: 20px;
  align-items: center;

}


.header-menu a {

  color: var(--WhiteColor);
  font-size: 1rem;
  text-decoration: none;
  transition: 0.4s;

}

.header-menu a P {

  color: var(--WhiteColor);
  font-size: 0.8rem;
  text-decoration: none;
  transition: 0.4s;

}

.header-menu a span {

  color: var(--WhiteColor);
  font-size: 1rem;
  text-decoration: none;
  transition: 0.4s;

}

.header-menu a span:hover {

  color: var(--secondaryColor);
  font-weight: bold;

}

.header article .header-menu .header-painter {
  width: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;

}

.header article .header-menu .header-painter svg {
  fill: var(--WhiteColor);
  transition: fill .3s ease-in-out;
}

.header article .header-menu .header-painter svg:hover {
  fill: var(--secondaryColor);
}

.link {

  display: flex;
  gap: 20px;


}

.link a {

  font-size: 1.2rem;
  color: var(--WhiteColor);
  text-decoration: none;
  transition: 0.4s;
  text-decoration: none;
  font-weight: bold;

}

.link a:hover {

  transform: scale(1.1);

}



.home-header-piece {
  display: flex;
  flex-direction: column;
}



.header-logo svg {
  width: 100%;
  max-width: 200px;
  transition: opacity 0.4s;
  position: relative;
  z-index: 1;
  transition: opacity 0.4s;
  fill: var(--secondaryColor);
}

.header-menu {

  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  gap: 60px;

}

.fixed .header-logo img {
  max-width: 150px;
}

.home {
  width: 100vw;
  min-height: 100vh;
  z-index: 2;
}

.home article {
  background-color: var(--blackColor);
  width: 100%;
  background-size: cover;
  max-width: 100%;
  background-position: bottom;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 50px;
}

.home article .home-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 550px;
}

.home article .home-left p {
  font-size: 1.5rem;
  color: var(--WhiteColor);
  font-weight: bold;
}

.home article .home-left h1 {
  font-size: 3.5rem;
  color: var(--WhiteColor);
  font-weight: bold;
}

.home article .home-left b {
  font-weight: bold;
  color: var(--secondaryColor);
  font-size: 1.5rem;
}

.home article .home-left span {
  color: var(--WhiteColor);
}

.home article .home-left .home-media {
  display: flex;
  gap: 10px;
}

.home article .home-left .home-media svg {
  width: 100%;
  max-width: 30px;
  fill: var(--secondaryColor);
  transition: .4s ease-in-out;
  cursor: pointer;
}

.home article .home-left .home-media svg:hover {
  transform: scale(1.1);
}


.home article .home-left .button-primary {
  padding: 10px;
  background-color: var(--secondaryColor);
  color: var(--WhiteColor);
  font-size: 1.2rem;
  width: 100%;
  max-width: 200px;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  transition: .4s ease-in-out;
  display: inline-block;
  position: relative;
}



.home article .home-left .button-primary::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: var(--secondaryColor);
  opacity: 0.6;
  filter: blur(10px);
  z-index: -1;
  border-radius: 5px;
}


.home article .home-left .button-primary:hover {
  transform: scale(1.1);
}

.home article .home-right {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 400px;
}

.home article .home-right svg {
  width: 100%;
}

.home article .home-right .--svg-fill {
  fill: var(--secondaryColor);

}

.home article .home-right img {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(1.1);
  top: 13px;
}



.main-content {
  width: 100%;
}

.header-logo img:hover {
  opacity: 0.6;
}

.home-piece {
  transition: opacity 0.3s;
}

.header-menu p {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
}

.home-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 10;
  text-align: center;
  position: absolute;
  bottom: 120px;
  background-color: var(--secondaryColor);
  padding: 20px;
}

.home article .home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin-top: 100;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  z-index: 3;
  pointer-events: none;
  width: 100%;
  max-width: 650px;
}

.me {
  width: 100%;
  position: relative;
  z-index: 3;
  pointer-events: none;
  cursor: pointer;
}


@keyframes smoothRotate {
  0% {
    transform: rotateZ(30deg);
  }

  100% {
    transform: rotateZ(-30deg);
  }
}


.alert {
  position: absolute;
  color: var(--WhiteColor);
  z-index: 3;
  font-size: 3rem;
  font-weight: bold;
  right: 150px;
  top: 250px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5);
  animation: glowPulse 2s infinite alternate, moveText 5s infinite alternate;
  transform-origin: center;
}

@keyframes glowPulse {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5);
  }

  100% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 40px rgba(255, 255, 255, 0.9);
  }
}

@keyframes moveText {
  0% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-20px) scale(1.1) rotate(3deg);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes weirdStyle {
  0% {
    transform: rotate(0deg) scale(1) skew(0deg, 0deg);
  }

  25% {
    transform: rotate(2deg) scale(1.05) skew(3deg, 2deg);
  }

  50% {
    transform: rotate(-2deg) scale(1.1) skew(-3deg, -2deg);
  }

  75% {
    transform: rotate(3deg) scale(1.05) skew(3deg, 0deg);
  }

  100% {
    transform: rotate(0deg) scale(1) skew(0deg, 0deg);
  }
}


.home-name .name {
  font-size: 3rem;
  font-weight: bold;
  color: var(--WhiteColor);
  text-transform: uppercase;

}

.home-name .jobs {

  font-size: 1.2rem;
  color: var(--WhiteColor);
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

.expertise article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-block: 50px;
}

.expertise article h2 {

  font-size: 3rem;
  color: var(--textColor);

}

.expertise-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid var(--blackColor2);
  width: 100%;
  overflow: hidden;
}

.expertise-card .expertise-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  gap: 10px;
  width: 100%;
}

.expertise-card>div {
  padding: 20px 20px;
  padding-top: 20px;
}

.expertise-card>div:first-child {
  border-top: none;
}

.expertise-card-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 40px;
}

.expertise .title {


  display: flex;
  flex-direction: column;

  gap: 30px;

}

.expertise .title svg {

  width: 42px;

}

.expertise .title>div {

  display: flex;
  flex-direction: column;
  font-size: 26px;
  font-weight: bold;
  color: var(--textColor);
}

.expertise .title>div p:first-child {

  position: relative;
  width: fit-content;

}

.expertise .title>div p:first-child::after {
  transition: all 0.1s ease-in-out;
  content: "";
  position: absolute;
  bottom: 13.5%;
  z-index: -1;
  height: 0.3em;
  width: 104%;
  left: -1%;
  background: var(--secondaryColor);
}

.expertise .content {
  padding-left: 20px;
  margin-left: 20px;
  position: relative;
}

/* 
.expertise .content::before {
  content: "<h3>";
  position: absolute;
  top: -25px;
  left: -20px;
  color: var(--textColor);
} */

/* .expertise .content::after {
  content: "</h3>";
  position: absolute;
  bottom: -25px;
  left: -20px;
} */

.expertise .content p {

  color: var(--textColor);
  font-weight: 600;
  line-height: 1.4em
}

.expertise .code-jpg {

  position: relative;
  width: 100%;
  max-width: 680px;
  top: -70px;
  z-index: -1;
  opacity: 50%;

}

.myWork article {

  display: flex;
  flex-wrap: wrap;
  gap: 50px;


}

.myWork-title {

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 550px;
  gap: 30px;

}

.myWork .mywork-title span {

  font-size: 4rem;
  font-weight: bold;
  color: var(--textColor);
  line-height: 60px;

}

.myWork .mywork-title p {

  color: var(--textColor);
  font-weight: 600;
  line-height: 1.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 350px;

}

.myWork .myWork-Left {

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  position: relative;
  top: -100px;
  align-items: end;

}

.myWork .myWork-Left video {

  width: 100%;
  max-width: 350px;
  padding-top: 150px;
}

.myWork .myWork-left-text {

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 550px;
  gap: 20px;
  position: relative;
  top: -70px;
  left: 60px;



}

.myWork .myWork-left-text img {

  width: 100%;
  max-width: 150px;

}

.myWork .myWork-left-text a {

  text-decoration: none;
  padding: 15px;
  background-color: var(--secondaryColor);
  font-size: 1.1rem;
  width: fit-content;
  color: var(--WhiteColor);
  font-weight: bold;
  border-radius: 8px;
  transition: transform 0.4s;

}

.myWork .myWork-left-text a:hover {

  transform: scale(1.1);

}

.project {

  background-color: var(--blackColor2);
  padding-block: 50px;

}

.project article {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-block: 50px;
  min-height: auto !important;
}

.project .project-filter {

  display: flex;
  gap: 30px 40px;
  flex-direction: column;
}

.project .project-filter span,
.project .project-filter button {

  color: var(--WhiteColor);
  font-weight: bold;
  font-size: 1rem;

}

.project .project-filter button {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--WhiteColor);
  display: flex;
  gap: 5px;
  cursor: pointer;
  transition: .4s ease-in-out;
}

.project .project-filter button:hover {
  color: var(--secondaryColor);
}

.project .project-filter button sup {
  position: relative;
  top: -16px;
  font-weight: 400;
  color: var(--WhiteColor);
}



.project .project-filter button:last-child:after {

  content: none;

}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
  width: 100%;
}

.project-cards a {

  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
  background-color: var(--s);
  text-decoration: none;
  box-shadow: 0px 3px 5px #010202;

}



.project-cards a .img {

  height: 250px;
  overflow: hidden;
  width: 100%;

}

.project-cards a .img img {

  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .4s ease-in-out;

}



.project-cards a .desc {

  padding: 20px;
  display: flex;
  flex-direction: column;


}

.project-cards a .desc .type {

  transition: 0.4s ease-in-out;

}

.project-cards a .desc .type:last-child {

  opacity: 0;
  transform: translateY(20px);

}

.project-cards a:hover .desc .type {

  opacity: 0;
  transform: translateY(-20px);

}

.project-cards a:hover .desc .type:last-child {

  opacity: 1;
  transform: translateY(-20px);

}



.project-cards a .desc span {

  color: var(--WhiteColor);
  font-weight: bold;
  font-size: 1.6rem;

}

.project-cards a .desc p {

  color: #9b9696;
  font-weight: bold;

}


.project-cards a:hover .img img {

  transform: scale(1.1);

}

.project-cards a.split {

  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  max-width: 730px;

}

.project-cards a.split .img {

  height: 400px;

}

.project-cards a.split .desc {

  padding-bottom: 30px;

}

.experience {

  background-color: var(--blackColor2);
  padding-bottom: 70px;

}

.experience article {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  gap: 50px;

}

.experience article h2 {

  color: var(--WhiteColor);
  text-align: center;
  font-size: 2.5rem;

}

.experience article .jobs {

  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

}

.experience article .work {

  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  max-width: 800px;

}


.experience article .work-title {

  display: flex;
  flex-direction: row;
  gap: 20px 100px;
  color: var(--WhiteColor);
  padding: 20px;
  background-color: var(--secondaryColor);
  border-radius: 2px;
  font-weight: bold;
  width: 100%;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
  flex-wrap: wrap;
}

.experience article .work-title div {

  display: flex;
  gap: 30px;
  align-items: center;

}

.experience article .work-title div span {
  display: none;
  font-size: 1.3rem;

}

.experience article .work-title div .min {
  display: flex;

}

.experience article .work-desc {
  position: relative;
  padding: 20px;
  width: 100%;
  display: flex;
  gap: 50px;
  transition: all .3s ease-in-out;
  display: none;
  flex-wrap: wrap;
  z-index: 1;
}

.experience article .work-desc::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondaryColor);
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
}

.experience article ._open div .min {
  display: none;
}

.experience article ._open div span:last-child {
  display: flex;
}

.experience article .work:has(._open) .work-desc {
  display: flex;

}


.experience article .work-desc-parg {

  display: flex;
  flex-direction: column;
  gap: 30px;

}

.experience .location {

  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.experience .location span {

  display: flex;
  flex-direction: row;
  gap: 10px;
  color: rgba(255, 255, 255, .75);
  font-weight: bold;

}

.experience .location span svg {
  fill: var(--secondaryColor);
  width: 20px;
}

.experience .work-desc-parg p {

  color: var(--WhiteColor);


}

.experience .work-desc-parg .buttons {

  display: flex;
  flex-direction: row;
  color: rgba(255, 255, 255, .75);
  font-weight: bold;
  gap: 15px;
  flex-wrap: wrap;

}

.experience .work-desc-parg .buttons span {

  background-color: var(--secondaryColor);
  border-radius: 30px;
  padding: 10px;
  font-size: 0.8rem;

}

.experience .work-desc img {

  width: 200px;
  object-fit: contain;

}

.experience .jobs {

  gap: 50px;

}

.freelance {

  background-color: var(--blackColor);
  padding-bottom: 50px;
}

.freelance article {

  display: flex;
  flex-direction: row;
  padding: 70px;
  gap: 40px 150px;
  flex-wrap: wrap;
  padding-inline: 0;
  min-height: auto !important;
}


.freelance article .freelance-left {

  display: flex;
  flex-direction: column;
  gap: 30px 80px;
  padding-block: 50px;
  padding-inline: 20px;
}

.freelance article .left-title {

  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 450px;

}

.freelance article .left-title h2 {

  color: var(--WhiteColor);
  font-size: 2.5rem;

}

.freelance article .left-title p {


  color: var(--WhiteColor);
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;

}

.freelance article .freelance-left .social {

  display: flex;
  flex-direction: column;
  gap: 30px;


}

.freelance article {

  padding-block: 0;
  align-items: stretch;
}

.freelance article .freelance-left .social .email {

  position: relative;

}

.freelance article .freelance-left .social .email span {

  text-decoration: none;
  color: var(--WhiteColor);
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  z-index: 10;
  position: relative;

}

.freelance article .freelance-left .social .email::before {
  transition: all 0.1s ease-in-out;
  content: "";
  position: absolute;
  bottom: 13.5%;
  height: 0.6em;
  width: 104%;
  left: -1%;
  z-index: 5;
  background: var(--secondaryColor);
}


.freelance article .freelance-left .social p {

  display: flex;
  flex-direction: column;
  gap: 10px;


}

.freelance article .freelance-left .social p a {

  text-decoration: none;
  color: var(--WhiteColor);
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  font-size: 1.4rem;

}

.freelance article .freelance-right {

  display: grid;
  grid-template-columns: 1fr;
  width: 100%;

}

.freelance article .freelance-right .first .first-title svg {

  width: 40px;

}

.freelance article .first {

  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--secondaryColor);
  padding: 20px;


}

.freelance article .first-title {


  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 30px;



}

.freelance article .first-title .img {

  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  max-width: 80px;


}

.freelance article .first-title .img img {

  width: 100%;
  height: 100%;
  object-fit: cover;

}

.freelance article .first .text-p {

  color: var(--WhiteColor);

}

.freelance article .first .text-span {

  color: var(--WhiteColor);
  font-weight: bold;

}



.freelance article .text {

  display: grid;
  grid-template-rows: 1fr;
  padding: 20px;
  padding-top: 20px;
  background-color: #0067dc;
  width: 100%;
  height: 100%;


}

.freelance article .text .text-title {

  display: flex;
  flex-direction: column;
  gap: 50px;

}

.freelance article .text .text-title p {

  color: var(--WhiteColor);

}

.freelance article .text .text-title svg {

  width: 40px;

}

.freelance article .text .text-title div {

  display: flex;
  justify-content: space-between;
  gap: 20px;


}

.freelance article .text .text-title img {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  max-width: 80px;

}

.freelance article .text .text-title .text-footer {

  display: flex;
  flex-direction: column;
  gap: 0;
}

.freelance article .text .text-title .text-footer span {

  color: var(--WhiteColor);
  font-weight: bold;

}

@media only screen and (min-width: 700px) {

  .project .project-filter span,
  .project .project-filter button {

    font-size: 1.1rem;

  }

  .project .project-filter {
    flex-direction: row;
  }


  .project .project-filter button::after {

    content: "/";

  }

  .freelance article .freelance-left .social .email span {

    font-size: 1.4rem;

  }


}

@media only screen and (min-width: 800px) {
  .expertise article h2 {
    font-size: 4rem;
  }

  .expertise-card {

    padding-inline: 20px;

  }

  .myWork-title {

    gap: 30px;

  }

  .project-cards a {

    max-width: 350px;

  }

  .myWork .mywork-title span {

    font-size: 6rem;
    line-height: 95px;

  }

  .myWork .mywork-title p {
    font-size: 1.2rem;

  }


}

@media only screen and (min-width: 1100px) {
  .header-menu {

    display: flex;

  }


  .home-name .name {

    font-size: 5rem;

  }

  .experience article h2 {

    font-size: 4rem;

  }


  .expertise-card {
    flex-direction: row;
    gap: 20px;
  }

  .myWork article {
    flex-wrap: nowrap;
  }

  .freelance {
    padding-bottom: 0;
  }

  .freelance article {
    flex-wrap: nowrap;
  }

  .freelance article .freelance-right {

    grid-template-columns: 1fr 1fr;

  }

  .expertise-card-content {

    max-width: 300px;

  }

  .expertise-card>div {


    border-left: 2px solid var(--blackColor);
    border-top: none;

  }

  .expertise-card>div:first-child {

    border-left: none;
    border-top: none;
  }

  .expertise .title {

    flex-direction: row;
  }

  .home article {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .expertise-card .expertise-card-content {
    align-items: center;
    height: 300px;
  }

}